    <!--Section: Contact v.1-->
<section class="section text-center">
    <!--Section heading-->
    <h2 class="section-heading h1 pt-4 mb-0 text-white bg-black">Наши контакты</h2>
    <!--Section description-->
    <div class="row d-flex justify-content-center  bg-da bg-black mx-0">
        <!--Grid column-->
        <div class="col-lg-6 mt-3">

            <!--Google map-->
            <div id="map-container-google-11" class="z-depth-3-half map-container-6" style="height: 400px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2719.9438364618322!2d28.83827751586029!3d47.02170743619057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97c30aeecbd6d%3A0x127ff8108fd7bfb!2zU3RyYWRhIE1pdHJvcG9saXQgVmFybGFhbSA2NSwgQ2hpyJlpbsSDdSAyMDAxLCDQnNC-0LvQtNCw0LLQuNGP!5e0!3m2!1sru!2s!4v1612043110615!5m2!1sru!2s"
                        width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>

            <br>
            <!--Buttons-->
            <div class="row text-center text-white">
                <div class="col-md-4">
                    <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
                    <p>Улица Митрополит Ваарлам 65 <br> 4 этаж, 423 каб.</p>
                    <p>Молдова, Кишинев</p>
                </div>

                <div class="col-md-4">
                    <a class="btn-floating blue accent-1"><i class="fas fa-phone"></i></a>
                    <p>+ 373 (68) 15 85 18</p>
                    <p>Пн - Пт, 9:00-18:00</p>
                </div>

                <div class="col-md-4">
                    <a class="btn-floating blue accent-1"><i class="fas fa-envelope"></i></a>
                    <p>antaresconsulting.info@gmail.com</p>
                </div>
            </div>

        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.1-->
    </div>

<footer class="text-white text-center text-lg-start w-100 bg-black">
    <div class="border-top border-warning w-100"></div>
    <!-- Copyright -->
    <div class="text-center p-3 bg-black">
        © 2021 Copyright:
        <a class="text-white" href="https://randwow.github.io/">Antarescon.com>
    </div>
    <!-- Copyright -->
</footer>