
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Web.Optimization

<!-- Start your project here-->
<header>
    <nav class="navbar navbar-light w-100 px-0">
        <div class="container-fluid px-0">
            <a class="navbar-brand text-warning mr-0" href="https://randwow.github.io/contabilitate/index.html">
                <img id="logo"
                     src="~/img/logo.png"
                     height="30"
                     alt=""
                     loading="lazy" />
                Antares Consulting
            </a>
            <button type="button" class="btn btn-light">
                <a href="@Url.Action("Contuct_Us","Contact")">
                    Contact Us
                </a>
            </button>
        </div>
    </nav>
    <!-- Navbar -->
    <!-- Full Page Intro -->
    <div class="view">
        <img src="~/img/background_image.png" alt="" class="myimage">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <!--Grid row-->
                <div class="row mx-0 py-3">

                    <!--Grid column-->
                    <div class="col-md-4 text-center mt">

                        <!--Grid row-->
                        <div class="row py-3">
                            <div class="col-10 w-100">
                                <a class="btn mybg text-white" href="#" role="button"> <h6> Налоговое консультирование </h6></a>
                            </div>
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row py-3">
                            <div class="col-10 w-100">
                                <a class="btn mybg text-white" href="#" role="button"> <h6> Аудит </h6></a>
                            </div>
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row py-3">
                            <div class="col-10 w-100">
                                <a class="btn mybg text-white" href="#" role="button"> <h6> Консультирование в Юрисприденции </h6></a>
                            </div>
                        </div>
                        <!--Grid row-->

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-4 mb-2 center-on-small-only flex-center"></div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-4 text-center mt">

                        <!--Grid row-->
                        <div class="row py-3">
                            <div class="col-10 w-100">
                                <a class="btn mybg text-white" href="#" role="button"> <h6> Налоговое консультирование </h6></a>
                            </div>
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row py-3">
                            <div class="col-10 w-100">
                                <a class="btn mybg text-white" href="#" role="button"> <h6> Налоговое консультирование </h6></a>
                            </div>
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row py-3">
                            <div class="col-10 w-100">
                                <a class="btn mybg text-white" href="#ourPartaners" role="button"> <h6> Наши партнеры </h6></a>
                            </div>
                        </div>
                        <!--Grid row-->

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
</header>


<section>

    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold text-center text-black mb-0" style="background-color: #8B4513">Наши услуги</h2>
    <!--Section description-->
    <p class="ppx-5 pb-5 lead grey-text text-center text-black mb-0" style="background-color: #8B4513">Мы очень ответственно и дотошно подходим к своей работе</p>

    <!--Grid row-->
    <div class="row mx-0 py-3 " style="background-color: #8B4513">

        <!--Grid column-->
        <div class="col-md-4">

            <!--Grid row-->
            <div class="row mb-2">
                <div class="col-2">
                    <i class="fas fa-2x fa-flag-checkered text-black"></i>
                </div>
                <div class="col-10 text-left">
                    <h5 class="font-weight-bold text-black">International</h5>
                    <p class="grey-text text-black">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                        nam, aperiam minima assumenda
                        deleniti hic.
                    </p>
                </div>
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row mb-2">
                <div class="col-2">
                    <i class="fas fa-2x fa-flask text-black"></i>
                </div>
                <div class="col-10 text-left text-black">
                    <h5 class="font-weight-bold text-black">Experimental</h5>
                    <p class="grey-text text-black">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                        nam, aperiam minima assumenda
                        deleniti hic.
                    </p>
                </div>
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row mb-2">
                <div class="col-2">
                    <i class="fas fa-2x fa-glass-martini text-black"></i>
                </div>
                <div class="col-10 text-left">
                    <h5 class="font-weight-bold text-black">Relaxing</h5>
                    <p class="text-black">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                        nam, aperiam minima assumenda
                        deleniti hic.
                    </p>
                </div>
            </div>
            <!--Grid row-->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-4 mb-2 center-on-small-only flex-center"></div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-4">

            <!--Grid row-->
            <div class="row mb-2">
                <div class="col-2">
                    <i class="fas fa-2x fa-heart text-black"></i>
                </div>
                <div class="col-10 text-left">
                    <h5 class="font-weight-bold text-black">Beloved</h5>
                    <p class="text-black">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                        nam, aperiam minima assumenda
                        deleniti hic.
                    </p>
                </div>
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row mb-2">
                <div class="col-2">
                    <i class="fas fa-2x fa-bolt text-black"></i>
                </div>
                <div class="col-10 text-left">
                    <h5 class="font-weight-bold text-black">Rapid</h5>
                    <p class="text-black">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                        nam, aperiam minima assumenda
                        deleniti hic.
                    </p>
                </div>
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row mb-2">
                <div class="col-2">
                    <i class="fas fa-2x fa-magic text-black"></i>
                </div>
                <div class="col-10 text-left">
                    <h5 class="font-weight-bold text-black">Magical</h5>
                    <p class="text-black">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                        nam, aperiam minima assumenda
                        deleniti hic.
                    </p>
                </div>
            </div>
            <!--Grid row-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--/Section: Features v.4-->
<!-- Grid container -->
<div class="container p-4 text-black mt-3">
    <!--Grid row-->
    <div class="row text-center">
        <!--Grid column-->
        <div class="mb-3 mt-3 mb-md-0">
            <h1 class="font-italic mb-5">Наша квалификация</h1>
            <div class="row">
                <!-- Card -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <!-- Card image -->
                    <div class="px-3 border-warning shadow-custom h-80">
                        <img class="card-img-top px-5 py-5" src="~/img/slides/big/capcipa.png" alt="Card image cap">
                        <!-- Card content -->
                        <div class="card-body mt-3">
                            <!-- Title -->
                            <h5 class="card-title mt-3"><a><i class="fas fa-check-double"></i>Сертифицированный специалист в области финансового менеджмента DipFM</a></h5>
                            <h5 class="card-title"><a><i class="fas fa-check-double"></i>Сертифицированный специалист в области управленческого учета DipMA</a></h5>
                            <!-- Text -->
                        </div>
                    </div>
                </div>
                <!-- Card -->
                <!-- Card -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <!-- Card image -->
                    <div class="px-3 border-warning shadow-custom h-80">
                        <img class="card-img-top px-5 py-5" src="~/img/slides/big/asem.png" alt="Card image cap">
                        <!-- Card content -->
                        <div class="card-body ">
                            <!-- Title -->
                            <h5 class="card-title mt-1"><a><i class="fas fa-check-double"></i> Аудитор, магистр экономических наук</a></h5>
                            <h5 class="card-title"><a><i class="fas fa-check-double"></i> Сертифицированный международный бухгалтер-практик</a></h5>
                            <h5 class="card-title"><a><i class="fas fa-check-double"></i>Сертифицированный международный профессиональный бухгалтер</a></h5>
                        </div>
                    </div>
                </div>
                <!-- Card -->
                <div class="col-lg-4 col-md-6 mb-4">
                    <!-- Card image -->
                    <div class="px-3 border-warning shadow-custom h-80">
                        <img class="card-img-top px-5 py-5" src="~/img/slides/big/acap.png" alt="Card image cap">
                        <!-- Card content -->
                        <div class="card-body pt-0">
                            <!-- Title -->
                            <h5 class="card-title"><a><i class="fas fa-check-double"></i>Полноправный член ассоциации профессиональных бухгалтеров и аудиторов РМ (ACAP)</a></h5>
                            <h5 class="card-title"><a><i class="fas fa-check-double"></i>Сертифицированный специалист по МСФО DipFA</a></h5>
                            <!-- Text -->

                        </div>
                    </div>
                </div>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</div>


<h1 class="font-italic text-center text-black article__title mb-3">Отзывы</h1>
<div>
    <div class="container my-5 py-5 z-depth-1 border border-warning w-75 shadow-custom">
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left text-black">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-4 mb-md-0 w-25 h-25">

                    <!--Image-->
                    <div class="view overlay z-depth-1-half h-auto">
                        <img src="~/img/slides/big/01.jpg" class="img-fluid" alt="">
                        <a href="#">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 mb-4 mb-md-0 w-75">

                    <h3 class="font-weight-bold">"TETTO GROUP SRL" </h3>

                    <p class="text-black">Выражаем признательность и благодарность компании "Antares Consulting" 
                                          за сотрудничетсво, советы по ведению бизнеса и бухгалтерские консультации,которые в свою
                                          очередь привели к плодотворному сотруднечеству наших компаний.
                                          Выраженное в уверенности и сохранности сложившихся деловых отношениях, а также надеемся 
                                          на дальнейшее взаимовыгодное сотрудничество.</p>


                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->


        </section>
        <!--Section: Content-->


    </div>
    <div class="container my-5 py-5 z-depth-1 border border-warning w-75 shadow-custom">


        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-lg-left text-black">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-4 mb-md-0 w-25 h-25">

                    <!--Image-->
                    <div class="view overlay z-depth-1-half h-auto">
                        <img src="~/img/slides/big/05.jpeg" class="img-fluid" alt="">
                        <a href="#">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 mb-4 mb-md-0 w-75 text-center">

                    <h3 class="font-weight-bold">"Boom Travel SRL" </h3>

                    <p class="text-black">От лица всей нашей компании, хотим поблагодарить компанию "Antares Consulting", а именно
                                          его директора Макеева Александра Александровича за экстренную помощь в сложных ситуациях. 
                                          Если бы не ваш профессионализм многие сложившиеся проблемы до сих остались бы не решенными.
                                          Процветания и благопалучия вам и вашей компании.</p>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->


        </section>
        <!--Section: Content-->
    </div>
</div>
<div class="container my-5 py-5 z-depth-1 border border-warning w-75 shadow-custom">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-lg-left text-black">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0 w-25 h-25">

                <!--Image-->
                <div class="view overlay z-depth-1-half h-auto">
                    <img src="~/img/slides/big/newsrl1.jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0 w-75 text-center">

                <h3 class="font-weight-bold">"MetiPol SRL" </h3>

                <p class="text-black">Компания "Antares Consulting" выполняет работу качественно, быстро, без малейших сбоев в любое время. 
                                      Дистанционный бухгалтер - это ноу-хау в современном мире.Наша компания очень довольна таким решением. 
                                      Он не требует рабочего места, не отпрашивается с работы, не просит премий и сам решает поставленные задачи.</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->
</div>
</div>
<br>
<h2 class="section-heading h1 pt-4 mb-0 text-white bg-black text-center" id="ourPartaners">Наши партнеры</h2>

<div class="wrapper bg-dark w-responsive text-center mx-auto p-3 h-50">
    <!-- Контент -->
    <div class="slider dots">
        <div class="slider__item " style="width:200px; height:200px;">
            <img src="~/img/slides/big/01.jpg" alt="">
        </div>
        <div class="slider__item ">
            <img src="~/img/slides/big/prisma.jpg" alt="">
        </div>
        <div class="slider__item">
            <img src="~/img/slides/big/srl2.jpg" alt="">
        </div>
        <div class="slider__item">
            <img src="~/img/slides/big/newsrl1.jpg" alt="">
        </div>
        <div class="slider__item">
            <img src="~/img/slides/big/05.jpeg" alt="">
        </div>
    </div>
</div>

<!-- End your project here-->
<!-- Подключаем jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>



<script>
    $(window).on('scroll', function () {
        var height = $(window).scrollTop();
        var window_height = $(window).height();
        if (height > window_height) {
            $('.navbar').addClass('active')
        }
        else {
            $('.navbar').removeClass('active')
        }
    });
</script>


