.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
    .heading {
        font-weight: 700;
        color: #5d4267;
      }
      .card.colorful-card .testimonial-card .card-up {
        height: 95px;
      }
      .card.colorful-card .testimonial-card .avatar {
        border: 3px solid #fff !important;
      }
      .card.booking-card {
        background-color: #c7f2e3;
      }
      .card.booking-card .fa {
        color: #f7aa00;
      }
      .card.booking-card .card-body .card-text {
        color: #db2d43;
      }
      .card.card.booking-card .chip {
        background-color: #87e5da;
      }
      .card.booking-card .card-body hr {
        border-top: 1px solid #f7aa00;
      }
      .mimosa {
        background-color: #F0C05A;
      }
      .fuchsia-rose-text {
        color: #db0075;
      }
      .aqua-sky-text {
        color: #5cc6c3;
      }
      .mimosa-text {
        color: #F0C05A;
      }
      .list-inline-item .fas, .list-inline-item .far {
        font-size: .8rem;
      }
      .chili-pepper-text {
        color: #9B1B30;
      }
      .collapse-content .fa.fa-heart:hover {
        color: #f44336 !important;
      }
      .collapse-content .fa.fa-share-alt:hover {
        color: #0d47a1 !important;
      }
      .card-wrapper.card-action {
        min-height: 400px;
      }

.shadow-custom {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .25), 0 3px 16px 15px rgba(0, 0, 0, 0.47) !important;
}
.filter{
  filter:brightness(30%);
}
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #0010 !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
.navbar {
  
  visibility:"hidden" !important;
  background-color: #0010;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}


